$turquoise:#03bfbb;
$grey:#404040;
$lightGrey: #ccc;
$lightGrey2: #c3c3c3;
$superLightGrey: #f3f3f3;
$darkGrey:#121212;
$black:#000;
$white: #fff;
$green: #03bfbb;
$transparentWhite:rgba(255 ,255 ,255 , 0.7);
$font:'Raleway', sans-serif;
